body {
    /* background-image: url(./istockphoto-1067628020-612x612.webp); */
    background-color: black;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    /* background-image: url(./download.jpg);
    background-size: cover; */
    background-color: rgb(232, 143, 143);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 09px 09px 2px 2px rgb(200, 46, 46);
    border: 1px solid red;
    max-width: 600px;
    width: 30%;
}

.quiz-header h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.quiz-header p {
    margin: 10px 0 20px;
    font-size: 22px;
    color: #000000;
}

.quiz-options {
    display: flex;
    flex-direction: column;
}

.option {
    
    background: #f5f5f5;
    box-shadow: 0px 0px 6px 0px red;
    border: 3px solid red;

    border-radius: 10px;
    margin: 10px 0;
    padding: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s;
}

.option:hover {
    background: rgb(247, 118, 140);
}

.option input[type="radio"] {
    margin-right: 15px;
    transform: scale(1.5);
}

button {
    box-shadow: 04px 04px 1px 1px rgb(255, 70, 101);
    background: rgb(204, 105, 105);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    transition: background 0.3s;
}

button:hover {
    background: pink;
   
}